.header {
  display: flex;
  align-items: center;
  color: $font-color;
  position: relative;
  left: -24vw;

  .hero-image {
    height: 100vh;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0 0 80px;

    &--heading {
      @include heading;
    }

    &--decoration {
      width: 13.5rem;
      padding: 20px 0 60px 0;
    }
  }

  &_links {
    display: flex;
    text-align: center;
    font-size: 1.8rem;
  }

  &_link {
    color: $font-color;
    text-decoration: none;
    border: 1px solid $font-color;
    font-weight: 300;
    line-height: 40px;
    cursor: pointer;
    width: 260px;

      
    &--one {
      padding: 13px 0;
      margin-right: 44px;
    }

    &--two {
      padding: 13px 0;
    }
  }
}
