.about {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;

  &_content {
    background-color: $steps-background;
    text-align: center;
    padding: 22vh 0;
    width: 50%;

    &--heading {
      @include heading;
    }

    &--decoration {
      width: 13.5rem;
      padding: 26px 0 55px 0;
    }

    &--paragraph {
      font-size: 1.64vw;
      line-height: 6.1vh;
      letter-spacing: -0.6px;
    }

    &--signature {
      padding-top: 5vh;
      position: relative;
      left: 13vw;
      width: 12.3vw;
    }
  }

  &_img {
    width: 50%;
    height: auto;
    object-fit: cover;
  }
}
