.about {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &_content {
    background-color: $steps-background;
    text-align: center;
    padding: 181px 140px;
    width: 50%;

    &--heading {
      @include heading;
    }

    &--decoration {
      padding: 26px 0 55px 0;
    }

    &--paragraph {
      font-size: 30px;
      line-height: 54px;
      letter-spacing: -0.6px;
    }

    &--signature {
      padding-top: 40px;
      position: relative;
      left: 220px;
    }
  }

  &_img {
    width: 50%;
    height: auto;
    object-fit: cover;
  }
}
