.organizations {
  text-align: center;
  min-height: 100vh;
  margin-top: 9.8vh;

  &_heading {
    @include heading;
  }

  &_decoration {
    width: 13.5rem;
    padding: 2.5vh 0 7.2vh 0;
  }

  &_buttons {
    margin-bottom: 8.6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 31vw;
    font-size: 1.3vw;

    &--button {
      background-color: transparent;
      border: none;
      color: $font-color;
      line-height: 1.3rem;

      &:hover {
        border: 1.5px solid $one;
        padding: 13.5px 42px;
        margin: -18px -37.5px;
      }

      &:focus {
        border: 1.5px solid $one;
        padding: 13.5px 42px;
        margin: -14px -37.5px;
      }
    }

    &--button-one {
      background-color: transparent;
      border: none;
      color: $font-color;

      &:hover,
      &:focus {
        border: 1.5px solid $one;
        padding: 22px 42px;
        margin: -14.5px -37.5px;
      }
    }
  }

  &_paragraph {
    margin-bottom: 3.7vh;
    font-size: 1.17vw;
    line-height: 3.4vh;
    color: $font-color;
  }

  &_list {
    margin-bottom: 7.6vh;
    color: $font-color;
    padding: 0 250px;

    &--elements {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3vh 0;

      &:not(:last-child) {
        border-bottom: 2px solid $one;
      }

      .left-side {
        text-align: left;

        .title {
          font-size: 1.4vw;
          line-height: 3.7vh;
        }

        .description {
          font-size: .95vw;
          line-height: 2.4vh;
        }
      }

      .collected {
        font-size: .95vw;
      }
    }
  }

  .pag-numbers {
    padding: 13px 15px;
    margin: 0 10px;
    border: 2px solid transparent;
    &:hover {
      cursor: pointer;
      border-color: $one;
    }
  }
}
