.organizations {
  text-align: center;
  min-height: 100vh;
  margin-top: 80px;

  &_heading {
    @include heading;
  }

  &_decoration {
    width: 13.5rem;
    padding: 20px 0 60px 0;
  }

  &_buttons {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 530px;
    font-size: 22px;

    &--button {
      background-color: transparent;
      border: none;
      color: $font-color;
      line-height: 1.3rem;

      &:hover {
        border: 1.5px solid $one;
        padding: 13.5px 42px;
        margin: -18px -37.5px;
      }

      &:focus {
        border: 1.5px solid $one;
        padding: 13.5px 42px;
        margin: -14px -37.5px;
      }
    }

    &--button-one {
      background-color: transparent;
      border: none;
      color: $font-color;

      &:hover,
      &:focus {
        border: 1.5px solid $one;
        padding: 22px 42px;
        margin: -14.5px -37.5px;
      }
    }
  }

  &_paragraph {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 28px;
    color: $font-color;
  }

  &_list {
    margin-bottom: 63px;
    color: $font-color;
    padding: 0 250px;

    &--elements {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 0;

      &:not(:last-child) {
        border-bottom: 2px solid $one;
      }

      .left-side {
        text-align: left;

        .title {
          font-size: 24px;
          line-height: 30px;
        }

        .description {
          font-size: 16px;
          line-height: 20px;
        }
      }

      .collected {
        font-size: 16px;
      }
    }
  }

  .pag-numbers {
    padding: 13px 15px;
    margin: 0 10px;
    border: 2px solid transparent;
    &:hover {
      cursor: pointer;
      border-color: $one;
    }
  }
}
