.header {
  display: flex;
  align-items: center;
  color: $font-color;

  .hero-image {
    position: relative;
    top: 0px;
    left: -483px;
    max-width: 100%;
    height: auto;
  }

  &_content {

    position: absolute;
    right: 142px;

    width: 674px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 133px 0 66px;

    &--heading {
      @include heading;
    }

    &--decoration {
      padding: 25px 0 65px 0;
    }
  }

  &_links {
    display: flex;
    text-align: center;
    font-size: 36px;
  }

  &_link {
    color: $font-color;
    text-decoration: none;
    border: 1px solid $font-color;
    font-weight: 300;
    line-height: 45px;
    cursor: pointer;

      
    &--one {
      padding: 13px 93px;
      margin-right: 44px;
    }

    &--two {
      padding: 13px 51px;
    }
  }
}
