.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 4.5vw 2.8vh 0;
  position: absolute;
  bottom: 0;
  right: 0;

  &_copyright {
    margin-right: 550px;
    margin-right: 33vw;
    font-size: 16px;
  }

  &_social-media {
    .facebook {
      margin-right: 15px;
      height: 1.6rem
    }

    .instagram {
      height: 1.6rem;
    }
  }
}