.form {
  text-align: center;
  padding: 200px 220px 279px 1140px;
  position: relative;
  color: $font-color;

  &::before {
    content: "";
    background-image: url("../assets/Background-Contact-Form.jpg");
    background-repeat: no-repeat;
    opacity: 0.20;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: 110rem;
    z-index: -1;
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--heading {
      @include heading;
    }

    &--decoration {
      width: 13.5rem;
      padding: 25px 0 35px 0;
    }
  }

  &_fields {
    display: flex;
    flex-direction: column;

    &--inputs {
      display: flex;
      justify-content: center;
      padding-top: 35px;
    }

    .responsePositive {
      color: rgb(15, 168, 76);
      font-size: 18px;
      font-weight: 700;
    }

    .responseNegative {
      color: rgb(197, 37, 37);
      font-size: 18px;
      font-weight: 700;
    }

  }

  .requests {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    padding-bottom: 40px;

    .text {
      padding-bottom: 12px;
      font-weight: 500;
    }

    .input {
      border: none;
      border-bottom: 2px solid $one;
      width: 235px;
      height: 24px;
      background: transparent;

      &_name {
        margin-right: 16px;
      }

      &_message {
        resize: none;
        width: 490px;
        height: 97px;
      }

      &::placeholder {
        color: #3636362c;
        font-family: $font-base;
      }
    }

    .error-message {
      color: red;
      font-family: $font-base;
      font-size: 12px;
      font-weight: 600;
      text-align: left;
      padding-top: 6px;
    }
  }

  &_button {
    font-size: 17px;
    line-height: 32px;
    border: 2px solid $one;
    padding: 7px 52px;
    margin-top: 40px;
    background-color: transparent;
    align-self: flex-end;
  }
}
