.navigation {
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 37px;
  margin-right: 142px;
  align-items: flex-end;
  position: absolute;
  right: 0;


  .before,
  .after {
    display: flex;
    font-size: .70vw;
    line-height: 4.5vh;
    margin-right: 20px;

    .border {
      border: 1px solid $accent-color;
      padding: 9px 10px;
    }

    .fat {
      font-weight: bold;
    }

    .hello {
      cursor: default;
    }

    &_option {
      margin-left: 20px;
      text-decoration: none;
      font-weight: 400;
      color: $font-color;
      cursor: pointer;

      &--button {
        background-color: transparent;
        border: none;
        margin-left: 20px;
        font-family: $font-base;
      }
    }
  }

  &_menu {
    font-size: .94vw;
    line-height: 5vh;
    padding-top: 17px;

    &--link {
      margin-left: 32px;
      margin-right: 21px;
      font-weight: 400;
      text-decoration: none;
      color: $font-color;
      cursor: pointer;

      &:hover {
        border: 1px solid $font-color;
        padding: 9px 20px;
        margin-left: 11px;
        margin-right: 0;
      }
    }
  }
}