.sign-in {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $font-color;

  &_heading {
    @include heading;
  }

  &_decoration {
    width: 14rem;
    padding: 10px 0 40px 0;
  }

  &_form {
    &--fields {
      background-color: $steps-background;
      padding: 5px 60px 30px 60px;
      margin: 0 210px;

      .error-message {
        color: red;
        font-family: $font-base;
        font-size: 12px;
        font-weight: 600;
        text-align: left;
        padding-top: 6px;
      }

      .fail {
        text-align: center;
        padding-bottom: 2rem;
      }
    }

    .requests {
      font-size: 16px;
      line-height: 25px;
      text-align: left;
      padding-bottom: 40px;

      .text {
        padding-bottom: 12px;
        font-weight: 500;
      }

      .pass-txt {
        margin-top: 25px;
      }

      .input {
        border: none;
        border-bottom: 1.5px solid $one;
        width: 14rem;
        height: 24px;
        background: transparent;
        font-size: .9rem;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      line-height: 32px;
      font-size: 16px;
      margin-top: 40px;

      &_sign-up {
        text-decoration: none;
        color: $font-color;

        &:hover {
          border: 1px solid $font-color;
          padding: 4.5px 20px;
          margin: -5.5px -21px;
        }
      }

      &_sign-in {
        background-color: transparent;
        border: none;
        font-family: $font-base;
        color: $font-color;
        padding: 0;

        &:hover {
          border: 1px solid $font-color;
          padding: 9px 20px;
          margin: -5.5px -21px;
        }
      }
    }
  }

  
}
